//text colors
$main-text-color: #000000;
$link-text-color: #0654ba;
$link-subtext-color: #767676;
$btn-text-color: #ffffff;
$warning-color: #dd1e31;

//bg-colors
$bg-main-color: #ffffff;
$bg-second-color: #cccccc;
$bg-ternary-color: #767676;