.search {
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.search__input {
	height: 100%;
	flex: 0 1 80%;
	outline: none;
	font-size: 1.6em;
	padding-left: 0.4em;
	border: 1px solid $bg-ternary-color;
	color: $main-text-color;
}

.search__input::-ms-clear {
	width: 0;
	height: 0;
}

.search__input::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.serach__btn-submit {
	flex-shrink: 0;
	width: 9em;
	background-color: $link-text-color;
	outline: 0;
	border: 0;
	color: $btn-text-color;
	font-size: 1.6em;
	letter-spacing: 0.2em;
	cursor: pointer;
}