.registration {
	padding: 4em 0;
	margin: 0 auto;
}

@media screen and (min-width: 769px){
	.registration {
		flex: 0 0 40%;
	}
}

@media screen and (max-width: 768px){
	.registration {
		flex: 0 0 50%;
	}
}

@media screen and (max-width: 480px){
	.registration {
		flex: 0 0 90%;
	}
}

.registration__title {
	font-size: 4em;
	text-align: center;
	color: $main-text-color;
	padding-bottom: 0.5em;
}
.registration__form {
	display: flex;
	flex-direction: column;
}


.registration__input {
	display: block;
	font-size: 1.3em;
	height: 3.077em;
	width: 100%;
	padding: 0.769em;
	outline: none;
	color: $main-text-color;
	border: 1px solid #ebebeb;
	margin: 1.538em 0;
}

.registration__btn {
	margin: 1.538em 0;
}

.registration__warning {
	font-size: 2em;
	color: $warning-color;
}